process {
    withLabel:cnv {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/metact/src/copykit.sif'
    }
    withLabel:celltype {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/metact/src/scmetR.sif'
    }
    withLabel:celltype_seurat {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/metact/src/multiome_bc.sif'
    }
    withLabel:allcool {
        container = '/rsrch5/home/genetics/NAVIN_LAB/Ryan/projects/metact/src/allcool.sif'
    }
}
singularity {
    enabled = true
    autoMounts = true
}